:root {
  --color-bg1: rgb(255, 255, 255);
  --color-bg2: rgb(255, 255, 255);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;

  background: #F0F0F0;
}


header {
  position: relative;
  display: block;

  z-index: 0;

  width: 100%;
  max-width: 1500px;
  height: 85vh;
  max-height: 900px;

  margin: 15px auto 2.5vh;

  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, .15) 0 10px 15px;
}

header #canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 0;

  width: 100%;
  height: 100%;

  background: #8a2387;
  background: -webkit-linear-gradient(to left, #8a2387, #e94057, #f27121);
  background: linear-gradient(to left, #8a2387, #e94057, #f27121);

  filter: brightness(80%) contrast(125%);
  transition: filter .2s;
}

header nav {
  width: 90%;
  max-width: 850px;

  border: 2px solid rgba(255, 255, 255, .15);
  background-color: rgba(255, 255, 255, .15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background-image: url("../png/noise.svg");
  border-radius: 10px;
  box-shadow: none;
  transition: .2s;
  overflow: hidden;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: stretch;
}


header ul li {
  display: flex;
  align-items: center;
}

header ul li:not(.dl) a {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 25px;
  color: white;
  font-size: 16px;
  transition: background-color .2s;
}

header ul li:not(.dl):hover {
  background-color: rgba(255, 255, 255, .15);
}

header ul li .dl-button {
  height: min-content;
  justify-self: center;
  margin: 0 20px;
}


a.title h1 {
  font-size: 22px;
  font-weight: 800;
  padding: 0;
  padding-left: 20px;
  color: white;
  transition: transform .2s;
}


a.title h1:hover {
  transform: scale(1.025);
}

a.title,
header a {
  text-decoration: none;
}



header .over {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vh 0;
}

header .over h2 {
  text-shadow: rgba(0, 0, 0, .25) 0 0 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin: 0;
  position: relative;
}

header .over h2 span {
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: -25px;
  right: -50px;
  transform: rotateZ(5deg);
}

header .over img#Screenshot {
  width: 90%;
  max-width: 900px;
  height: auto;
  max-height: 40vh;
  backdrop-filter: blur(8px);
  filter: brightness(130%) contrast(110%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  transition: transform .2s;
  user-select: none;
  border-radius: 10px;
}

header .over img#Screenshot:hover {
  transform: scale(102.5%);
}





footer,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

section {
  margin-bottom: 80px;
}

.dl-button {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  padding: 12.5px 20px;
  transition: transform 0.2s;
  user-select: none;
}

.dl-button img {
  width: 16px;
}


.dl-button.shadow {
  box-shadow: rgba(0, 0, 0, .15) 0 0 10px;
}

.dl-button.header {
  background: rgba(255, 255, 255, .15);
  border: 2px solid rgba(255, 255, 255, .5);
  color: white;
  transition: background .2s, border-color .2s;
}

.dl-button:not(.header):hover {
  transform: scale(102.5%);
}

.dl-button.header:hover {
  border-color: rgba(255, 255, 255, .75);
  background: rgba(255, 255, 255, .25);
}

.dl-button img {
  margin-right: 10px;
}

.dl-button.blue {
  color: white;
  background: #000;
  /* rgb(30, 120, 255);*/
}

.dl-button.header img,
.dl-button.blue img {
  filter: invert(100%);
}


.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}



@keyframes bounce {

  0%,
  100% {
    transform: translateY(7.5px) scale(1.25);
  }

  50% {
    transform: translateY(-5px) scale(1);
  }
}

.inlineArrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh auto;
  gap: 100px;
}

.inlineArrows>* {
  display: block;
  animation: bounce 2s infinite;
  color: black;
  height: 26px;
}

.inlineArrows .arrow-1,
.inlineArrows .arrow-7 {
  display: none;
  opacity: 0.025;
  animation-delay: 0.6s;
}

.inlineArrows .arrow-2,
.inlineArrows .arrow-6 {
  display: none;
  opacity: 0.05;
  animation-delay: 0.4s;
}

.inlineArrows .arrow-3,
.inlineArrows .arrow-5 {
  opacity: 0.075;
  animation-delay: 0.2s;
}

.install-process-block,
#Features .feature {
  position: relative;
  max-width: 375px;
  padding: 24px;
  border-radius: 16px;
  border: 2px solid #eee;
  transition: border-color .2s;
  background: white;
}

.install-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.install-process-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.install-process-block * {
  margin: 0;
}

.install-process-block h4 {
  margin: 10px 0;
  align-self: flex-start;

}

.install-process-block p {
  margin: 2.5px 0;
}

.install-process-block p:last-of-type {
  margin-bottom: 15px;
}

#Features .feature .idea,
#Features .feature .wip {
  position: absolute;
  top: 24px;
  right: 24px;
  color: white;
  font-size: 14px;
  background-color: rgb(161, 40, 46);
  border-radius: 4px;
  padding: 4px 8px;
}

#Features .feature .idea {
  background-color: rgb(225, 183, 77);
}

#Features .feature svg {
  width: 48px;
  height: 48px;
  transition: color .2s;
  color: #000;
}

#Features .feature:hover {
  border: 2px solid rgb(30, 120, 255);
}

#Features .feature:hover svg {
  color: rgb(30, 120, 255);
}


h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
}


#Newsletter {
  display: flex;
  align-items: center;
  padding: 50px;
  border-radius: 16px;
  background: white;
}

#Newsletter h3 {
  margin-bottom: 5px;
}

#Newsletter .input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Newsletter .input input,
#Newsletter .input button {
  display: flex;
  align-items: center;
  outline: none;
  border: 2px solid white;
  background: var(--bg-color);
  color: white;
  transition: background-color .2s, transform .2s;
}

#Newsletter .input button img {
  height: 24px;
}

#Newsletter .input input {
  font-size: 18px;
  padding: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-width: 0px;
  width: 100%;
}

#Newsletter .input input::placeholder {
  color: white;
  opacity: 0.5;
}

#Newsletter .input button {
  align-self: stretch;
  padding: 0 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-width: 0px;
  cursor: pointer;
}

#Newsletter .input button:hover img {
  transform: scale(1.05);
}

footer {
  position: relative;
  color: white;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 2.5vh;
}

footer .inside {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background-image: url("../png/noise.svg");
  z-index: 1;
}

footer .right {
  display: flex;
  gap: 10px;
}

footer a.title h1 {
  padding: 0;
}

footer a:not(.title) {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  transition: background .2s;
}

footer a:not(.title):hover {
  background: rgba(255, 255, 255, .25);
}

footer canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(30, 120, 255);
  z-index: 0;
}

body {
  padding: 0 15px;
}

header nav ul {
  display: none;
}

@media screen and (min-width: 800px) {




  header nav ul {
    display: flex;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .install-process {
    flex-direction: row;
  }


}

@media screen and (min-width: 1100px) {

  body {
    padding: 0;
  }

  header {
    width: 80%;
    margin: 2.5vh auto;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .inlineArrows .arrow-1,
  .inlineArrows .arrow-7,
  .inlineArrows .arrow-2,
  .inlineArrows .arrow-6 {
    display: block;
  }

}